<html>
  <head>
    <title>Containment Director</title>

    <style>{{ style }}</style>
  </head>

  <body>
    <script>{{ script }}</script>

    {{ page|safe }}
  </body>
</html>

{# vim: set sw=2: #}
