<!--
Note: Due to the time constraints of Art Exchange, this isn't the best-structured project.
Despite this I have tried to lay things out in a mostly-sensible way, even if there is a
lot of state-sharing among all these files.
-->

<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">

    <title>Containment Director</title>

    <style>
{{ style }}
    </style>
  </head>

  <body>
    <script>
{{ script }}
    </script>

{{ page|safe }}
  </body>
</html>

{# vim: set sw=2: #}
